.cabeçalho__menu-hamburguer{

    width: 34px;
    height: 38px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.cabeçalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
}