.cabeçalho__menu-hamburguer{

    width: 34px;
    height: 38px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    /* aqui não utilizei background position e repeat:nom repeat  */
}

.cabeçalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
}

.container {
    align-items: center;
    /*sem display flex ficou melhor, apenas deixei na classe cabeçalho*/
}

.container__imagem{
    padding: 0,5em; /*padding foi menor que o exemplo*/
}